################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreTodo/.vs/AspNetCoreTodo/v15/Server/sqlite3/db.lock
